[submodule "coffer-opensbi"]
	path = coffer-opensbi
	url = git@github.com:Compass-All/coffer-opensbi.git
[submodule "coffer-emodules"]
	path = coffer-emodules
	url = git@github.com:Compass-All/coffer-emodules.git
